body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    margin: 32px 0;
}

.header, .footer {
    color: white;
    background-color: #1F2937;
}

.footer {
    text-align: center;
}

.hero-image {
    border: 2px solid black;
    width: 500px;
    flex: 1;
}

.hero-text {
    flex: 1;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 48px 48px;
    gap: 48px;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.information-images {
    display: flex;
    height: 200px;
}

.info-container{
    flex-basis: 100px;
    height: 100px;
    border: 2px solid black;
}

